

@model Order

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h4>You're just one step away from your delicious pies.</h4>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
        </div>
    </div>

</form>
